
<div id="credentials" class="tab" style="display:none;">
    <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>CREDENCIALES</h2>
                <img class="d-block w-25 mx-auto" src="https://imageog.flaticon.com/icons/png/512/80/80118.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="First slide">
            </div>
            <%for(let credential of credentials) {%>
                <div class="carousel-item">
                    <svg class="d-block w-25 mx-auto"data-jdenticon-value="<%=credential.cred_def_id%>"></svg>
                    <h3><%=credential.schema_id%></h3>
                    <%for(let attr of Object.keys(credential.attrs).sort()) {%>
                    <p><%=attr%>: <%=credential.attrs[attr]%></p>
                    <%}%>
                </div>
        <%}%>
        </div>
        <a class="left carousel-control" href="#carouselExampleControls1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carouselExampleControls1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>